/*MaxWidth et centrage principal*/
body,
html {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

#conteneur {
  max-width: 1400px;
  margin: 0 auto;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

nav img {
  height: 32px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px 0 50px;
}

nav a {
  font-size: 1em;
  color: #0065fc;
  padding-bottom: 0px;
  text-decoration: none;
}
nav .hebergements:hover {
  border-top: 0.5px solid #0065fc;
  padding: 40px;
}

nav .activites {
  color: unset;
}

nav .inscrire {
  font-weight: 600;
}

/* Formulaire */
form {
  margin-top: 15px;
}
/* Section filtre */

.fa-map-marker-alt {
  padding: 12px 15px 13px 13px;
  background-color: #f2f2f2;
  border-end-start-radius: 13px;
  border-start-start-radius: 13px;
}

#map {
  margin: 0px;
}
button {
  padding: 9px 15px 10px 10px;
  background-color: #0065fc;
  border-bottom-right-radius: 13px;
  border-start-end-radius: 13px;
  border: none;
  color: white;
}

input {
  padding: 8px 15px 10px 10px;
  border: 1px solid #f2f2f2;
  margin-left: -4px;
  font-weight: bold;
}

::placeholder {
  font-size: 1 em;
  color: black;
}

.filtre {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  height: 2.5em;
  margin-top: 30px;
}

#money {
  margin: 2px 0px 0px 2px;
}

#fami {
  margin: 2px 0px 0px 4px;
}

#coeur {
  margin: 2px 0px 0px 3px;
}

#anim {
  margin: 2px 0px 0px 2px;
}

* {
  box-sizing: border-box;
}
.filter {
  padding: 0px 15px 10px 0px;
  border: 2px solid #f2f2f2;
  display: inline-block;
  border-radius: 17px;
  height: 32px;
  margin-left: 20px;
  border-left: none;
}
.filter span:first-child {
  height: 29px;
  width: 29px;
  background: #deebff;
  border-radius: 16px;
  position: relative;
}
.filter span {
  display: inline-block;
}

.filter span:first-child i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-8px, -8px, 0);
}

.filter span:last-child {
  margin-left: 7px;
  transform: translate3d(0, 6px, 0);
  vertical-align: top;
}
.filter:hover {
  background: blue;
  color: #ffffff;
}

#info i {
  border: 2px solid #d9d9d9;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

#info {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 2.5em;
}

/* section hébergement */
#dortoire {
  display: flex;
  gap: 30px;
}
#dortoire a {
  text-decoration: none;
}
#hebergements {
  width: 70%;
  background: #f2f2f2;
  border-radius: 15px;
  padding: 15px 20px 20px 20px;
}
#hebergements img {
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
}
#hebergements a {
  background: white;
  border-radius: 15px;
  padding: 4px 4px 8px 4px;
}
.bloc_carte {
  padding: 10px;
}

.presentation img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.presentation {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.presentation a {
  width: calc((100% / 3) - (40px / 3));
}

/* Police section dortoir */

.pleine {
  color: #0065fc;
}
.vide,
#vide {
  color: #f2f2f2;
}
.text {
  color: black;
}

/* section Aside */

#populaires a {
  background: white;

  padding: 3px 0px 1px 4px;
  margin: 4px 3px 30px 0px;
  border-radius: 15px;
}
aside {
  width: 30%;
  background: #f2f2f2;
  border-radius: 15px;
  padding: 16px 20px 20px 20px;
}
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside img {
  width: 100px;
  height: 106px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
aside a {
  height: calc((100% / 3) - (40px / 3));
  display: flex;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 16px;
}
